@use '../../styles/globals.scss';

.rssNewsContainer {
  background-color: globals.$dark-blue-transparent;
  border-radius: globals.$container-border-radius;
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 60%;

  .feedItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    h2 {
      font-size: globals.$header-font-size;
      margin: 0;
      padding: 0.5vw 0;
    }
    .qrCode {

    }
    .feedDescription {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-size: globals.$main-text-font-size;
      }
      p:last-of-type {
        display: none;
      }
      div {
        img{
          margin: 0;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

}