@use '../../styles/globals.scss';


.canteenMenuContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;

  > * + * {
    margin-top: 32px;
  }

  h2{
      font-size: globals.$header-font-size;
      text-transform: uppercase;
      text-align: center;
      border-bottom: globals.$text-bottom-border;
  }

  p {
    font-size: globals.$main-text-font-size;
    margin: 0;

    strong {
      font-size: globals.$header-font-size;
    }
  }
}