@use '../../styles/globals.scss';

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #333;
  color: white;
}

.techScheduleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: globals.$main-font;
    h2 {
      font-size: globals.$header-font-size;
      text-transform: uppercase;
      text-decoration: underline;
    }
    div{
      display: flex;
      flex-direction: column;
      gap: 5vh;
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        border-radius: 15vw;
        li {
          border-radius: 15vw;
          padding: 1vw;
          text-transform: uppercase;          

        }
        li:first-of-type{
          background-color: inherit;
          filter: hue-rotate(-30deg);
        }
        
      }
    }
}